certifi==2024.2.2
charset-normalizer==3.3.2
idna==3.6
requests==2.31.0
urllib3==2.2.0
Flask
bcrypt
cryptography==2.8
python-dotenv
werkzeug>=3.0.6 # not directly required, pinned by Snyk to avoid a vulnerability
